.score-area{
    font-size: xx-large;
    text-align: center;
    color: rgb(122, 16, 122);
    font-weight: 700;
}

.display-area {
    background-color: brown;
    box-sizing: border-box;
    width: 60%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    font-size: xx-large;
    text-align: center;
    border: 5px solid brown;
    border-radius: 25px;
}