.score-area{
    font-size: xx-large;
    text-align: center;
    color: rgb(122, 16, 122);
    font-weight: 700;
}

.display-area {
    background-color: brown;
    box-sizing: border-box;
    width: 60%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    font-size: xx-large;
    text-align: center;
    border: 5px solid brown;
    border-radius: 25px;
}

.options{
    text-align: center;
}

#Rock{
    font-size: 2.5rem;
    background-color: green;
    border-radius: 10%;
    margin: 10px 20px;
}

#Paper{
    font-size: 2.5rem;
    background-color: green;
    border-radius: 10%;
    margin: 10px 20px;
}

#Scizzors{
    font-size: 2.5rem;
    background-color: green;
    border-radius: 10%;
    margin: 10px 20px;
}

#Lizard{
    font-size: 2.5rem;
    background-color: green;
    border-radius: 10%;
    margin: 10px 20px;
}

#Spock{
    font-size: 2.5rem;
    background-color: green;
    border-radius: 10%;
    margin: 10px 20px;
}
